body {
  background-color: #FFFDF2;}
header{
    padding: 0 40px;
    border-radius: 10px;
  background-color: white;}

nav{
    display: flex;
    justify-content: space-between;
}
header li{
    list-style: none;
}

