body{
    height: auto;
    background-color: #FFFDF2;}
header{
    padding: 0 40px;
    border-radius: 10px;
   background-color: #DBB4AD;}
#tudosobrefilmes{
    background-color: #DBB4AD;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 0;}
h1{
     font-family: arial; color : #AA4465; }
