body {background-color: #F2CEAB;}
h1 { font-family: arial; color : #AA4465; }
h2 { font-family: arial; color : #DBB4AD; }
p {font-family: arial; font-size: 90%; color : #451531}}
li {font-size: 150%;}
